site_name: ADX-Mon Documentation
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      primary: teal
      accent: cyan
  font:
    text: Roboto


markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - 'Docs Home':
      - 'index.md'
  - 'quick-start.md'
  - 'concepts.md'
  - Cookbooks:
    - 'cookbook/cookbook.md'
    - 'cookbook/traces.md'
  - Reference:
      - 'config.md'
      - 'ingestor.md'
      - 'adxcluster-controller.md'
  - Designs:
      - 'designs/log-integration-with-kubernetes.md'
      - 'designs/schema-etl.md'
