name: Publish container images

on:
  push:
    branches: [ "main" ]
    tags: [ 'v*.*.*' ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: true
      matrix:
        include:
          # github.repository as <account>/<repo>
          - dockerfile: build/images/Dockerfile.alerter
            image: ghcr.io/${{ github.repository }}/alerter
          - dockerfile: build/images/Dockerfile.collector
            image: ghcr.io/${{ github.repository }}/collector
          - dockerfile: build/images/Dockerfile.ingestor
            image: ghcr.io/${{ github.repository }}/ingestor
          - dockerfile: build/images/Dockerfile.operator
            image: ghcr.io/${{ github.repository }}/operator

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Enable multi-arch builds
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      # Set up BuildKit Docker container builder to be able to build images
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login against a Docker registry
      - name: Log into registry ${{ env.REGISTRY }}
        if: ${{ github.event_name == 'push' }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ matrix.image }}
          # Use latest tag on default branch (main), otherwise use the tag
          tags: |
            type=raw, value=latest, enable={{is_default_branch}}
            type=ref, event=tag
          flavor: |
            latest=false

      # Build and push Docker image with Buildx
      - name: Build and push image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64,linux/arm64
          build-args: |
            VERSION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
            GIT_COMMIT=${{ github.sha }}
            BUILD_TIME=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.created'] }}
          push: ${{ github.event_name == 'push' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
